<!-- <ng-container #component></ng-container>
<pre>{{ typescript }}</pre>
<pre>{{ template }}</pre> -->

<div class="showcase">
  <div class="content">
    <ng-container #component></ng-container>
  </div>
  <div class="side-bar">
    <div class="section">
      <div class="title">typescript</div>
      <div class="source">
        <pre>{{ typescript }}</pre>
      </div>
    </div>
    <div class="section">
      <div class="title">template</div>
      <div class="source">
        <pre>{{ template }}</pre>
      </div>
    </div>
  </div>
</div>
