<div class="showcase">
  <div class="content">
    <h1>{{ demoName | titlecase }}</h1>
    <ng-container #component></ng-container>
  </div>
  <div class="side-bar">
    <div class="section">
      <div class="title">component</div>
      <div class="source">
        <pre><code [highlight]="typescript" [languages]="['javascript']" ></code></pre>
      </div>
    </div>
    <div class="section">
      <div class="title">template</div>
      <div class="source">
        <pre><code [highlight]="template" [languages]="['html']" ></code></pre>
      </div>
    </div>
  </div>
</div>
