$border: rgba(0, 0, 0, 0.15);
$shadow: rgba(0, 0, 0, 0.1);
$grey: rgb(247, 247, 247);

.showcase {
  display: flex;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 10px $shadow;
  border: 1px solid $border;
  height: 500px;
  overflow: hidden;
  .content {
    flex: 1;
    padding: 20px;
  }
  .side-bar {
    flex: 1;
    border-left: 1px solid $border;
    display: flex;
    flex-direction: column;
    .section {
      flex: 1;
      &:first-child {
        border-bottom: 1px solid $border;
      }
      .title {
        padding: 10px;
        border-bottom: 1px solid $border;
        background-color: $grey;
        text-transform: uppercase;
        font-size: 10px;
        color: grey;
      }
      .source {
        padding: 10px;
      }
    }
  }
}
