$border: rgba(0, 0, 0, 0.2);
$shadow: rgba(0, 0, 0, 0.1);
$grey: rgb(247, 247, 247);

.showcase {
  background-color: white;
  display: flex;
  margin: 50px;
  border-radius: 8px;
  box-shadow: 0 10px 10px $shadow;
  border: 1px solid $border;
  overflow: hidden;
  .content {
    flex: 1;
    padding: 20px;
  }
  .side-bar {
    background: #474949;
    flex: 1;
    border-left: 1px solid $border;
    .section {
      height: 300px;
      overflow: hidden;
      transition: height 0.2s ease-in;
      &.expanded {
        height: 575px;
        .source {
          height: 530px;
        }
      }
      &.collapsed {
        height: 25px;
      }
      .title {
        height: 15px;
        color: rgba(255, 255, 255, 0.575);
        padding: 5px;
        background-color: $border;
        text-transform: uppercase;
        font-size: 10px;
        cursor: pointer;
      }
      .source {
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: rgb(179, 179, 179);
          border-radius: 4px;
        }
        height: 255px;
        overflow-y: scroll;
        padding: 10px;
        pre {
          margin: 0;
          code {
            line-height: 1.4;
            padding: 0;
            ::ng-deep .hljs-ln-numbers {
              padding-right: 20px;
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}
